.navbar {
    display: flex;
    padding: 8px 24px;
    background-color: #01414D;
    color: white;
    align-items: center;
    text-decoration: none;
    &__left {
        flex: 1;
        align-items: center;
        display: flex;
        &__imagen {
            width: 80px;
            padding-left: 0;
            padding-right: 16px;
        }
        &__item {
            margin-right: 16px;
            color: white;
            text-decoration: none;
            &__input {
                background-color: rgba(255, 255, 255, .3);
                border: none;
                color: white;
                padding: 4px 16px;
                border-radius: 6px;
                outline: none;
                color: white;
            }
        }
    }
    &__right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
        &__item {
            margin-left: 16px;
            color: white;
        }
    }
}

.link {
    text-decoration: none;
    color: white;
}

;