.jugadores {
    color: #01414D;
}

.contenedor-jugadores {
    overflow: auto;
    padding-bottom: 2rem;
}

.numero {
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 6px;
    font-weight: bold;
    color: black;
}

.posicion {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 6px;
    font-weight: bold;
}